.donationLink {
  display: flex;
  align-items: center;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-background-color, --tg-theme-bg-color);
  padding: 13px;
  margin-top: 8px;
  border: 2px solid transparent;
  border-radius: 12px;

  button {
    border: none;
    color: var(--tg-theme-text-color);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
  }
}

@keyframes textSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
