* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 12px;
	background-color: var(--tg-theme-secondary-background-color);
	color: var(--tg-theme-text-color);
}

p {
	color: var(--tg-theme-text-color);
}

span, label {
	color: var(--tg-theme-hint-color);
}

[data-tc-dropdown-button="true"] {
	background-color: var(--tg-theme-button-color) !important;
	div {
		color: #fff !important;
	}
	svg > path {
		fill: #fff !important;
	}
}

[data-tc-dropdown-container="true"] {
  display: block;
  z-index: 999 !important;
  position: absolute !important;
  left: 6% !important;
}

[data-tc-connect-button="true"] {
  background-color: var(--tg-theme-button-color) !important;
}