* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 12px;
	background-color: var(--tg-theme-secondary-background-color);
	color: var(--tg-theme-text-color);
}

p, span, label {
	color: var(--tg-theme-hint-color);
} 