.inputWrapper {
	display: flex;
	flex-direction: column;
}

.input {
	margin-top: 7px;
	border: 2px solid transparent;
	border-radius: 18px;
	padding: 12px;
	outline: none;
	background-color: var(--tg-theme-background-color);
	color: var(--tg-theme-text-color);

	font-weight: 500;
	font-size: 16px;


	&::placeholder {
		color: var(--tg-theme-hint-color);
	}

	&:focus {
		border-color: var(--tg-theme-link-color);
	}
}

.invalid {
	border: 2px solid red !important;
}