.Transaction {
  background-color: var(--tg-theme-background-color, var(--tg-theme-bg-color));
  padding: 15px 18px;
  border-radius: 15px;
  width: 100%;
  margin-top: 11px;

  &:hover {
    cursor: pointer;
    .donator {
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactionSum {
  font-size: 18px;
  font-weight: 500;
}

.donator {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
}

.donationMsg {
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
  word-wrap: break-word;
  color: var(--tg-theme-hint-color);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.creationDate {
  font-size: 13px;
  color: var(--tg-theme-hint-color);
}